<%- include('header')%>  
    <div class="container"> 
        <% if(error){ %>
            <div class="alert alert-danger" role="alert">
            <b><%= error %></b>
            </div>

        <% } else{ %>
            <table class="table">
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Quotation</th>
                        <th>Value in Dollar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%= amount %></td>
                        <td><%= quotation %></td>
                        <td><%= _convert %></td>
                    </tr>
                </tbody>
            </table>
        <% } %>
    </div>
<%- include('footer')%>